annotated-types
anyio
click
colorama
cramjam
fastapi
fastparquet
fsspec
h11
idna
joblib
numpy
packaging
pandas
pip
pyarrow
pydantic
pydantic_core
python-dateutil
pytz==2023.3.post1
scikit-learn
scipy
setuptools
six
sniffi
starlette
threadpoolctl
typing_extensions
tzdata
uvicorn